* {
    padding: 0;
    margin: 0
}

html, body {
    height: 100%;
    width:100%;
    min-width: 1000px;
}
.clear {clear:both;}

body {
    font-family: "Helvetica Neue", Arial;
    background: #fff;
    width: 100%;
	z-index: 10;
	position: relative;
    width: 100%;
}

#counter {
    position: absolute;
    top:0;
    margin-top: 25%;
    left: 50%;
    width: 250px;
    height: 30px;
    font-size: 30px;
    margin-left: -125px;
    line-height: 30px;
    text-align: center;
    color: #000;
}

#the_site {
    display:none;
    height: 100%;
    overflow: hidden;
    min-width: 1000px;
}