#null_target {
    min-height:400px;
}
#contact-form h1{
    /*border-bottom: none;*/
}

#contact_section {
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 300px;
    margin-right: 10px;
}

#contact_section a,#contact_section a:visited {
    color: #dddddd;
    text-decoration: none;
}

#contact_section a:hover {
    color: #dddddd;
    text-decoration: underline;
}

#contact-form {
    padding: 10px;
    border-radius: 10px;
    color: white;
    float:left;
    width: 580px;
    position:relative;
    height:580px;
}
#contact-form .form-item {
    margin: 5px 0;
    padding: 5px;
    clear:both;
    font-size: 18px;
    display:block;
}
#contact-form .form-type-textfield label {
    float: left;
    display: block;
    width: 150px;
    font-weight: bold;
    line-height: 28px;
    height:28px;

}
#contact-form .form-type-textarea label {
    font-weight: bold;
    line-height: 28px;
    height:28px;
    margin: 5px 0;
}

#contact-form input {
    padding: 5px;
    border: 1px solid #a6a6a6;
    line-height: 18px;
    font-size: 18px;
    display:block;
    color: #333;
    border-radius: 10px;
    margin-top: 5px;
}

#contact-form textarea {
    padding: 5px;
    border: 1px solid #a6a6a6;
    line-height: 18px;
    font-size: 18px;
    height: 150px;
    color: #333;
    border-radius: 10px;
    width: 520px;
    font-family: verdana;
}
#edit-submit {padding: 10px; width: 100px; text-align:center;cursor:pointer;}
#null_box {
     border-radius: 10px;
    height: 248px;
    width: 320px;
    margin-top: 20px;

}
#mail-message {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 560px;
    height: 300px;
    text-align: center;
    padding-top: 250px;
    font-size:30px;
    font-family:"Yanone Kaffeesatz";
    text-transform: uppercase;
    display:none;
}