#page_1 .section_body {
	position: relative;
	width: 100%;
	min-height: 100%;
}

.floating_box {
	border: 3px solid black; 
	width: 20%; 
	min-height: 400px; 
	position: absolute;
	top: 1000px;
	left: 0;
	opacity: 0;
}
.floating_box h2 {
	text-align: center;
}
.floating_box p {
	padding: 10px;
}

#div1 {
	border: 1px solid black; 
	left: 0%;
}
#div2 {
	border: 1px solid green; 
	left: 25%;
}
#div3 {
	border: 1px solid blue; 
	left: 50%;
}
#div4 {
	border: 1px solid red; 
	left: 75%;
}