
#header {
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    text-align: center;
    clear:both;
    position: fixed;
    top:0;
    left:0;
    z-index: 200;
    width: 100%;
    border-bottom: 1px solid silver;
    box-shadow: 0 0 22px 4px;
    background: white;
    min-width: 1000px;
}

#header a:hover {
    color: #000;
}

#menu {
    position: relative;
    float:right;
    height:60px;
}

#menu li {
    display: inline-block;
    height: 60px;

}


#menu a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 60px;
    text-decoration: none;
    color: #000;
    min-width: 100px;
    margin:auto;
    display:inline-block;
    cursor: pointer
}



h1, h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#logo {
    height: 60px;
    line-height: 60px;
    float:left;
    width: 260px;
}

.logo{
    cursor: pointer;
    width:260px;
    height: 47px;
    margin: auto;
    display:block;
    margin-top: 5px;
 }

#sections {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

.section {
    width:100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100;
}
.section_content {
   padding:103px 10px 0;
   width: 80%;
   margin: 0 auto;
   z-index:140;
   display: none;
   min-height: 100%;
   height: 100%;
}

.section .content {
    min-height: 100%;
    position: relative;
    z-index: 150
}






