
.shadow {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}

.green {
    background: url(img/bg_green.jpg);
}

.yellow {
    background: url(img/bg_yellow.jpg);
}

.blue {
    background: url(img/bg_blue.jpg);
}

.section_content {
	position: relative;
}

.section_content h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px inset #e6e6e6;
}


.section .bg {
	position: absolute;
	overflow:hidden;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 30;
    background-color: #000;
	background: url(img/plain_background_desaturated.jpg) no-repeat 50% 50%;
	background-position: 50% 50%;
}


#page_1 .bg {
	background-color: #000;
	background: url(img/plain_background_green.jpg) no-repeat;
}

#page_2 .bg {
	background-color: #000;
	background: url(img/plain_background_red.jpg) no-repeat;
}

#page_3 .bg {
	background-color: #000;
	background: url(img/plain_background_blue.jpg) no-repeat;
}

#contact .bg {
	background-color: #000;
    background: url(img/plain_background_red.jpg) no-repeat;

}

.v-shadow{
	position: absolute;
	top:0;
	left: 100%;
	z-index: 80;
	display:block;
	width:50px;
	height: 100%;
	background: url(img/v-shadow.png) repeat-y top left;
}

.v-shadow-l{
	position: absolute;
	top:0;
	left: -40px;
	z-index: 80;
	display:block;
	width:50px;
	height: 100%;
	background: url(img/v-shadow-l.png) repeat-y top left;
}

.h-shadow{
	display:block;
	position: absolute;
	top:100%;
	left: 0;
	z-index: 80;
	width:100%;
	height: 50px;
	background: url(img/h-shadow.png) repeat-x top left;
}

.h-shadow-t{
	display:block;
	position: absolute;
	top:-50px;
	left: 0;
	z-index: 80;
	width:100%;
	height: 50px;
	background: url(img/h-shadow-t.png) repeat-x top left;
}