<div class="bg"></div>
<div class="section_content">
    <div class="content">
    <form action="javascript:void(0);" method="post" id="contact-form" accept-charset="UTF-8" class="green">
        <h1>Write to us</h1>

        <div id="form_container">
            <div class="form-item form-type-textfield">
                <label for="edit-nome">First name <span class="form-required"
                                                        title="This field is required.">*</span></label>
                <input type="text" id="edit-nome" name="nome" value="" size="60" maxlength="128"
                       class="form-text required">
            </div>
            <div class="form-item form-type-textfield">
                <label for="edit-cognome">Last name <span class="form-required"
                                                          title="This field is required.">*</span></label>
                <input type="text" id="edit-cognome" name="cognome" value="" size="60" maxlength="128"
                       class="form-text required">
            </div>
            <div class="form-item form-type-textfield">
                <label for="edit-email">Email <span class="form-required"
                                                    title="This field is required.">*</span></label>
                <input type="text" id="edit-email" name="email" value="" size="60" maxlength="128"
                       class="form-text required">
            </div>
            <div class="form-item form-type-textarea">
                <label for="edit-messaggio">Message <span class="form-required"
                                                          title="This field is required.">*</span></label>

                <div>
                    <textarea id="edit-messaggio" name="messaggio" class="form-textarea required"></textarea>
                </div>
            </div>
            <div class="form-item">
                <input class="btn form-submit" type="submit" id="edit-submit" name="op" value="Send">
            </div>
        </div>
        <div id="mail-message">Thank You for your mail!</div>
    </form>
</div>
</div>