<div class="bg"></div>
<div class="section_content">
	<div class="content">
		<h1>Home</h1>
		<div>
			<ul>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
				<li>Some content</li>
			</ul>
		</div>
	</div>
</div>
