<div class="bg"></div>
<div class="section_content">
	<div class="content">
		<h1>SECTION 1</h1>
		<div class="section_body">
			<div id="div1" class="floating_box">
				<h2>CONTENT A</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum lectus, vehicula ac cursus nec, dignissim eget nunc. Quisque imperdiet elit quis pellentesque elementum. Sed scelerisque tortor consectetur mollis consectetur. Sed scelerisque cursus venenatis. Integer tristique nibh a nulla pharetra laoreet. Nunc laoreet nibh vel faucibus fringilla. Ut vestibulum semper turpis, ac mattis lorem ultrices vel. Duis pharetra justo vehicula lorem ultricies egestas.
				</p>
			</div>
			<div id="div3" class="floating_box">
				<h2>CONTENT B</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum lectus, vehicula ac cursus nec, dignissim eget nunc. Quisque imperdiet elit quis pellentesque elementum. Sed scelerisque tortor consectetur mollis consectetur. Sed scelerisque cursus venenatis. Integer tristique nibh a nulla pharetra laoreet. Nunc laoreet nibh vel faucibus fringilla. Ut vestibulum semper turpis, ac mattis lorem ultrices vel. Duis pharetra justo vehicula lorem ultricies egestas.
				</p>
			</div>
			<div id="div2" class="floating_box">
				<h2>CONTENT C</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum lectus, vehicula ac cursus nec, dignissim eget nunc. Quisque imperdiet elit quis pellentesque elementum. Sed scelerisque tortor consectetur mollis consectetur. Sed scelerisque cursus venenatis. Integer tristique nibh a nulla pharetra laoreet. Nunc laoreet nibh vel faucibus fringilla. Ut vestibulum semper turpis, ac mattis lorem ultrices vel. Duis pharetra justo vehicula lorem ultricies egestas.
				</p>
			</div>
			<div id="div4" class="floating_box">
				<h2>CONTENT D</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ipsum lectus, vehicula ac cursus nec, dignissim eget nunc. Quisque imperdiet elit quis pellentesque elementum. Sed scelerisque tortor consectetur mollis consectetur. Sed scelerisque cursus venenatis. Integer tristique nibh a nulla pharetra laoreet. Nunc laoreet nibh vel faucibus fringilla. Ut vestibulum semper turpis, ac mattis lorem ultrices vel. Duis pharetra justo vehicula lorem ultricies egestas.
				</p>
			</div>
		</div>
		<div class="clear"/>
	</div>
</div>